:local(.card_property) {
  height: 275px;
  width: 235px;
  box-shadow: 2px 4px 10px gray;

  :local(.result) {
    font-size: 20px;
    font-weight: bold;
    color: #563d7c;
  }
}

:local(.closeButton) {
  position: absolute;
  top: -14px;
  right: -10px;
  color: #563d7c;
}
